.Home {
	background-color: #131515;
	color: #e0e0da;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	transition: all 0.4s linear;
	border-end-start-radius: 10px;
	border-end-end-radius: 10px;
}
.Home-dark {
	background-color: white;
	color: #131515;
}

.hero {
	color: #e0e0da;
}

.info {
	height: 100%;
	width: 50%;
}
.info h1 {
	margin-top: 50px;
	font-size: 2rem;
}

.name {
	font-size: 3.5rem;
	font-weight: bolder;
	margin: 20px 0;
}

.job {
	font-size: 3rem;
	color: #565757;
}

.about {
	margin-top: 20px;
	margin-bottom: 40px;
	line-height: 1.7rem;
	font-size: 1.1rem;
	color: #565757;
}

@media screen and (max-width: 600px) {
	.job {
		font-size: 2rem;
		margin-left: 30px;
	}
	.Home {
		flex-direction: column-reverse;
		height: 100%;
		border-end-start-radius: 0px;
		border-end-end-radius: 0px;
		border-radius: 0px;
		border: 0px;
	}
	.info {
		width: 100%;
	}
	.info h1 {
		font-size: 1.5rem;
		text-align: center;
	}
	.name {
		font-size: 2.5rem;
		text-align: center;
	}
	.about {
		text-align: center;
		margin-right: 10px;
		margin-left: 10px;
	}
	.hero {
		margin-top: 20px;
	}
}
